<strong>Ola, {{ student }}</strong>
<p>Seja bem-vindo a Gympoint, confira os detalhes da sua matricula abaixo:
</p>
<p>
  <strong>Plano: </strong>{{plan}} <br />
  <strong>Data do termino: </strong> {{ date }} <br />
  <strong>Valor: R$ </strong> {{ price }} <br />
  <br />

