<strong>Ola, {{ student }}</strong>
<p>A sua pergunta foi respondida, seguem os detalhes abaixo:
</p>
<p>
  <strong>Pergunta: </strong>{{question}} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
